{% extends 'workbenches.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dynatable.css" %}"/>
{% endblock %}
{% block head_js %}
    <script type='text/javascript' src={% static "js/jquery1.9.js" %}></script>
    <script type='text/javascript' src={% static "js/bootstrap.min.js" %}></script>
    <script type="text/javascript">
        var mydata ={{ data|safe }};
        // Remove results value
        var results = mydata.pop(mydata.length - 1);
    </script>
{% endblock %}
{% block fme %}
    <div class="col-sm-9 col-md-10 main">
    <div id="results" class="row top-buffer"><h1> Results </h1>
        <ul class="col-md-3">{% with item=data|last %}
            <li>Start Location: {{ item.start_address }}</li>
            <li>End Location: {{ item.end_address }}</li>
            <li>Calculated Distance: {{ item.Calc_Total }}</li>
            <li>Google Distance: {{ item.Google_Distance }}</li>
            <li>Total Inside: {{ item.Totl_Inner }}</li>
            <li>Total Outside: {{ item.Totl_Outer }}</li>
            <li>Total Time Approx: {{ item.Duration }}</li>{%  if item.Cost_Inner %}
            <li>Cost Inside: ${{ item.Cost_Inner }}</li>{% endif %}
            </ul>
            <div class="btn-group">
            {% for ref, name in buttons %}
                <a href="{{ ref }}" class="btn btn-primary col-md-3 col-md-offset-9">
                    Download {{ name }}</a></br>
            {% endfor %}
            </div>
            </div>
            <div id="results-table" class="row top-buffer"><br><h2>Breakdown</h2>
            <table id="results_table" class="table table-striped hover">
            <thead>
            <tr id="result_head">
                <td>Step Num</td>
                <td>Region</td>
                <td>Distance metres</td>
                <td>Google distance</td>
                <td>Duration</td>{% if item.Calc_Cost != "0" %}
                <td>Cost per Km</td>{% endif %}
            </tr>
            </thead>{% endwith %}
            <tbody>{% for row in data|dictsort:"step" %}{% if row.region %}
                <tr>
                    <td>{{ row.step|add:"1" }}</td>
                    <td>{{ row.region }}</td>
                    <td>{{ row.Length }}</td>
                    <td>{{ row.Google_Distance }}</td>
                    <td>{{ row.Duration }}</td>{% if row.Cost_pm != "0" %}
                    <td>{{ row.Cost_pm }}</td>{% endif %}
                </tr>{% endif %}{% endfor %}
            </tbody></table>
            </div>
    </div>
{% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; YMAC 2015</p>
        </div>
    </footer>
{% endblock %}