{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}
{% block head_js %}
    {% leaflet_css %}
    <link type='text/css' rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <script type='text/javascript' src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/r-2.1.0/datatables.min.css"/>

    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/r-2.1.0/datatables.min.js"></script>
    <script>
        // Work to be done
        // - Download Selected rows
        // - Filtering
        // - sort by date
        // - Zoom to Selected
        $(document).ready(function () {
            emits = {{ emits|safe }};
            var table = $('#resultsTable').DataTable({
                'data': emits,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ],
                columns: [
                    {"data": "title", title: "Title"},
                    {"data": "objectiondate", title: "Objection Date"},
                    {"data": "datereceived", title: "Date Received"},
                    {"data": "applicants", title: "Applicant"},
                    {"data": "claimgroup", title: "Claim Group"},
                    {"data": "row_to_check", title: "Needs Checking"},
                ]
            });
            $('#resultsTable tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                console.log($(this).first().text());
            });

            $('#button').click(function () {
                alert(table.rows('.selected').data().length + ' row(s) selected');
            })
        });


        var global_map, tenements, claim_data, deter_data, emits;
        function main_map_init(map, options) {
            function onEachFeature(feature, layer) {
                // does this feature have a property named popupContent?
                layer.on({
                    click: function (clicked) {
                        if (clicked.target.feature.properties) {
                            if (typeof clicked.target.feature.properties.selected == 'undefined') {
                                clicked.target.feature.properties.selected = true;
                            }
                            else {
                                clicked.target.feature.properties.selected = !clicked.target.feature.selected;
                                console.log(clicked.target.feature.properties.selected);
                            }
                        }
                    }
                });
                if (feature.properties && feature.properties.applicants) {
                    var content = "";
                    for (var prop in feature.properties) {
                        content += '<p>' + prop + " : " + feature.properties[prop] + '</p>'
                    }
                    layer.bindPopup(content);
                }
            }

            function getColor(d) {
                return d ? '#FFEDA0' :
                        "#ff0000";
            }

            //Create Style

            function tenStyle(feature) {
                return {
                    "color": getColor(feature.properties.selected),
                    "weight": 2,
                    "opacity": 0.65
                };
            }

            //Add GeoJSON layer
            claim_data = L.geoJson({{ claims|safe }}).addTo(map);
            deter_data = L.geoJson({{ determinations|safe }},
                    {
                        style: function (feature) {
                            return "#00ff00";
                        }
                    }).addTo(map);
            tenements = L.geoJson({{ tenements|safe }}, {
                style: tenStyle,
                onEachFeature: onEachFeature
            }).addTo(map);


            map.fitBounds(claim_data.getBounds());
            global_map = map;
            var defaultLayer = L.tileLayer.provider('OpenStreetMap.Mapnik');
            var baseLayers = {
                'OpenStreetMap Default': defaultLayer,
                'OpenStreetMap Black and White': L.tileLayer.provider('OpenStreetMap.BlackAndWhite'),
                'OpenStreetMap H.O.T.': L.tileLayer.provider('OpenStreetMap.HOT'),
                'ESRI World': L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'),
                'Bing': L.tileLayer.bing("Atjf9biTahekK5UUyKRH6G_2ddSEeaagG4tXjbe87wlj3qI0KJyCSaBgvrmKTlFc")
            };

            var overlays = {
                'Claim Boundary': claim_data,
                'Determinations Boundary': deter_data,
                'Tenements': tenements
            };
            L.control.layers(baseLayers, overlays).addTo(map);
        }
    </script>
    <style>

        .leaflet-container { /* all maps */
            width: 800px;
            height: 600px;
        }

        #specialbigmap {
            height: 800px;
        }

    </style>
{% endblock %}
{% block content %}
    <h1>{{ heading }}</h1>
    <div>
        {% leaflet_map "overviewmap" callback="main_map_init" %}
    </div>
    <table id="resultsTable" class="display" width="100%">
    </table>
{% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; YMAC 2016</p>
        </div>
    </footer>    <!-- JS includes -->
{% endblock %}
{% block foot_js %}
    {% leaflet_js %}

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
    <script type='text/javascript' src="{% static "js/bootstrap.min.js" %}"></script>
    <script type='text/javascript' src="{% static 'js/leaflet-providers.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/leaflet-bing-layer.min.js' %}"></script>

{% endblock %}