{% extends "base.html" %}
{% block content %}
    <h1>Services</h1>
    <em> The Spatial team are here to help you with all your spatial and technical needs.
    </em>
    <p>Our main expertise are GIS and programming. Services includes:</p>
    <ul>
        <li>Hard Copy maps</li>
        <li>Soft Copy maps</li>
        <li>Collection of spatial data</li>
        <li>Online mapping solutions</li>
        <li>Web and server development</li>
        <li>Database and SQL queries</li>
        <li>Programming</li>
    </ul>
{% endblock %}