{% extends "base.html" %}
{% block content %}
    <h1>Software and Online Services used</h1>
    <div class="row">
        <h2><img class="img-rounded" src="images/QGis_Logo.png"></img><a href="http://qgis.org/en/site/">GIS</a></h2>
        <p>Open source GIS software package, with lots of plugins and tools. YMACTools adds additional functionality to
            easily create maps.</p>
    </div>
    <div class="row">
        <h2><img class="img-rounded" src="images/FME_logo.jpg"></img><a href="http://www.safe.com/">Desktop and
            Server</a></h2>
        <p>Simple to use package for transforming data, and creating online services.</p>
    </div>
    <div class="row">
        <h2><img class="img-rounded" src="images/ESRI.gif"></img><a href="https://www.arcgis.com/features/">Suite</a>
        </h2>
        <p>ArcGIS and Online are the premium software tools for creating high quality cartographic maps.</p>
    </div>
    <div class="row">
        <h2><img class="img-rounded" src="images/python_logo.png"></img><a href="https://www.python.org/">Python</a>
        </h2>
        <p>Cameron's favourite programming language. Really easy to learn and more useful than a roll of duct tape.<br>
            Python can do pretty much everything and anything.</br>
            It's also built into a lot of Open source tools such as QGIS, but can also be found in ArcGIS and FME.</p>
    </div>
    <div class="row">
        <h2><a href="http://www.trello.com/"><img class="img-rounded" src="images/Trello_logo.png"></img></a></h2>
        <p>Extremely useful tool for planning, coordinating and tracking tasks within the spatial team.<br>
            </br>
            I can not recommend it enough.</p>
    </div>
    <div class="row">
        <h2><a href="http://www.smartsheet.com/"><img class="img-rounded" src="images/smartsheet_logo.png"></img></a>
        </h2>
        <p>Pretty much Excel online, but with a bunch of really nice features and a good API (For building it into
            workflows).</p>
    </div>
    <div class="row">
        <h2><a href="https://www.dokuwiki.org/dokuwiki#"><img class="img-rounded" src="images/dokuwiki_logo.jpg"></img></a>
        </h2>
        <p>Software used for building our spatial wiki, with a number of useful plugins.</p>
    </div>
    <!--
    FME
    Git
    GeoSamba
    Python
    Trello
    Smartsheet
    Docuwiki-->
    <h2>Giving Back</h2>
    <p>We use a lot of softwate and licensed and open source. You can give back to GIS too.</p>
    <p><a href="http://www.tomnod.com/">Search satelite images to help humanity.</a>. </p>
    <p>Contribute to <a href="https://www.openstreetmap.org/">open source street maps</a></p>
{% endblock %}