{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block head_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src={% static "js/bootstrap.min.js" %}></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    {{ form.media }}
{% endblock %}
{% block content %}
    <form action="/spatial_request/" method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; YMAC 2015</p>
        </div>
    </footer>
{% endblock %}
{% block foot_js %}
        <script>
        var map_title = $('div .form-group').has('#id_map_title');

        var map_requests = ['Claim Map', 'Site Map', 'Quarterly Maps', 'Customised Map', 'Boundary Research Map'];
        var req_type = $('#id_request_type :selected').text();
            if ($.inArray(req_type, map_requests) > -1) {
                map_title.show()
            }
            else {
                map_title.hide();
            }
        $("#id_request_type").change(function () {
            var req_type = $('#id_request_type :selected').text();
            if ($.inArray(req_type, map_requests) > -1) {
                map_title.show()
            }
            else {
                map_title.hide();
            }
        });
    </script>
{% endblock %}